---
layout: default
---

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

<p class="view">by {{ page.author | default: site.author }}</p>

{{content}}

{% if page.tags %}
<span class="post-tags"><small>
    tags: &nbsp; <em>
    {% for tag in page.tags %}
      {% capture tag_name %}{{ tag }}{% endcapture %}
      <!-- if a project tag, just link to the project page -->
      {% if tag_name contains 'project-' %}
      	{% capture project %}{{ tag_name | remove: "project-" }}{% endcapture %}
		<a class="no-underline" href="/projects/{{ project }}"><nobr>{{ tag_name }}</nobr>&nbsp;</a>
	<!-- most other tags, link to its own tag page -->
      {% else %}
	      <a class="no-underline" href="/tag/{{ tag_name }}"><nobr>{{ tag_name }}</nobr>&nbsp;</a>
      {% endif %}
      </em> | <em>
    {% endfor %} 
    </em>
  </small></span>
{% endif %}
